version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
shallow_clone: true
clone_depth: 1
environment:
  DownloadBase:
    secure: tvDdT2DZMOgijvJd0Pvmuic+soMCi6cNrh+ndejvp0gb6vCTKWp3tbXNmoUi5kjzpdTZetFLWNKDuim/FJ0aVw==
artifacts:
- path: output\SitecoreComms.ExecuteRightToBeForgotten.update
  name: SitecoreWeb
- path: output\SitecoreComms.ExecuteRightToBeForgotten.AutomationEngine.zip
  name: AutomationEngine
- path: output\SitecoreComms.ExecuteRightToBeForgotten.IndexWorker.zip
  name: IndexWorker
- path: output\SitecoreComms.ExecuteRightToBeForgotten.XConnect.zip
  name: XConnect
build_script:
- ps: '.\build\build.ps1'  
on_failure:
- ps: '#$blockRdp = $true; iex ((new-object net.webclient).DownloadString(''https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1''))'