<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement">
    <marketingAutomation>
      <pluginDescriptorsRepository>
        <plugins>
          <plugin path="./plugins/SitecoreComms/execute-right-to-be-forgotten.plugin.js"/>
        </plugins>
      </pluginDescriptorsRepository>
    </marketingAutomation>
  </sitecore>
</configuration>