<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:x="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">
  <sitecore exmEnabled:require="yes" role:require="(Standalone or ContentManagement) and !DedicatedDispatch">
    <services>
      <register
        serviceType="Sitecore.Framework.Messaging.IMessageHandler`1[[SitecoreComms.RTBF.Models.Messaging.ExecuteRightToBeForgottenMessage, SitecoreComms.RTBF.Models]], Sitecore.Framework.Messaging.Abstractions"
        implementationType="SitecoreComms.RTBF.Web.Messaging.ExecuteRightToBeForgottenMessageHandler, SitecoreComms.RTBF.Web"
        lifetime="Transient" />
    </services>

    <initialize>
      <processor type="SitecoreComms.RTBF.Web.Messaging.InitializeMessageBus, SitecoreComms.RTBF.Web" resolve="true" />
    </initialize>

    <Messaging>
      <Rebus>
        <SitecoreComms.RTBF.Models.Messaging.Buses.ExecuteRightToBeForgottenBus>
          <Transport>
            <SqlServer>
              <OneWay>false</OneWay>
              <ConnectionStringOrName>messaging</ConnectionStringOrName>
              <TableName>Sitecore_Transport</TableName>
              <InputQueueName>ExecuteRightToBeForgottenMessagesQueue</InputQueueName>
            </SqlServer>
          </Transport>
          <Routing>
            <TypeBasedMappings>
              <TypeMappings>
                <ExecuteRightToBeForgottenMapping>
                  <Type>SitecoreComms.RTBF.Models.Messaging.ExecuteRightToBeForgottenMessage, SitecoreComms.RTBF.Models</Type>
                  <DestinationQueue>ExecuteRightToBeForgottenMessagesQueue</DestinationQueue>
                </ExecuteRightToBeForgottenMapping>
              </TypeMappings>
            </TypeBasedMappings>
          </Routing>
          <Options>
            <SetNumberOfWorkers>1</SetNumberOfWorkers>
            <SimpleRetryStrategy>
              <ErrorQueueAddress>Error</ErrorQueueAddress>
              <MaxDeliveryAttempts>1</MaxDeliveryAttempts>
              <SecondLevelRetriesEnabled>false</SecondLevelRetriesEnabled>
            </SimpleRetryStrategy>
          </Options>
          <Logging Type="Sitecore.Messaging.SitecoreLoggerFactory,Sitecore.Messaging"/>
          </SitecoreComms.RTBF.Models.Messaging.Buses.ExecuteRightToBeForgottenBus>
      </Rebus>
    </Messaging>
  </sitecore>
</configuration>