<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
			  <configuration name="Marketing Automation" description="Marketing Automation">
          <targetDataStore physicalRootPath="C:\dev\SitecoreComms.RTBF\serialization\$(configurationName)" />
			    <predicate>
			      <include name="Execute Right To Be Forgotten Activity Type" database="master" path="/sitecore/system/Settings/Analytics/Marketing Automation/Activity Types/Execute Right to be Forgotten" />
          </predicate>
			    <dataProviderConfiguration enableTransparentSync="false" />
			    <syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
			  </configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>